*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: sans-serif;
}
body {
 background: rgb(232,238,238,238);

}
h1{
 padding: 1rem 0;
}
.container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 position: relative;
}

.input-container {
 width: 100%;
 max-width: 500px;
 text-align: center;
 padding: 20px;

}
.input-container input {
border: none;
outline: none;
padding: 12px;
margin-block-end: 12px;
border-radius: 4px;
font-size: 16px;
}
.input-container input[type="text"]{
 width: 70%;
}
.input-container input[type="button"]{
 background:#3da33d ;
 color: #fff;
 font-weight: 700;
 margin-left: 8px;
 cursor: pointer;
 padding: 12px 24px;
}
.input-container input[type="button"]:hover {
 background-color: #0db10d;
 color: #fff;
}
ul{
 width: 100%;
 max-width: 450px;
}
ul li {
 list-style-type: none;;
 border-radius: 8px;
 cursor: pointer;
 border: 0.125px solid #e2d4d4;
 margin-block-end: 12px;
 background: #fff;
 padding: 6px 12px;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 transition: 0.5s;
}
ul li p {
 flex-grow: 1;
}
ul li:hover {
 background: rgb(211, 209, 209);
 border: 0.125px solid #abdab3;
 color: #fff;
}

.btn {
 border: none;
 outline: none;
 font-size: 16px;
 background: none;
 font-weight: 500;
 cursor: pointer;
 padding: 8px;
}


.btn:nth-child(3){
color: #c71212;
}
.btn:nth-child(3):hover {
 color: rgb(255, 0, 0);
}
.btn:nth-child(2){
color: #0a660a
}
.btn:nth-child(2):hover {
 color: #0af10a
}

.alert {
 font-size: 1rem;
 font-weight: 500;
 font-family: sans-serif;
 background-color: black;
 color: #fff;
 border-radius: 5px;
 padding: .2rem 1rem;
position: absolute;
top: 5px;
left: 10px;
transition: 1s;
display: none;
}